<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>rocoplayer/account/delete</title>

		<script src="../js/unpkg.com_vue@2.7.14_dist_vue.js"></script>
		<!-- elementui -->
		<!-- 引入样式 -->
		<link rel="stylesheet" href="../css/unpkg.com_element-ui@2.15.14_lib_theme-chalk_index.css">
		<!-- 引入组件库 -->
		<script src="../js/unpkg.com_element-ui@2.15.14_lib_index.js"></script>

		<script src="../js/axios@1.4.0.min.js"></script>

		<style>
			#app {
				display: flex;
				justify-content: center;
			}
		</style>

	</head>
	<body>

		<div id="app">

			<div>
				<h2>Delete Account</h2>

				<div>
					RocoPlayer Account Removal <br />
					
					This operation will delete all data associated to RocoPlayer's account that you have created. <br />
					
					Once you have submitted required information below,  <br /> all of your data will be removed immediately and permanently. <br />
					
					Note: All data removed are unrecoverable, please proceed with caution. <br />
					
					Please enter your email account and we will send you a confirmation code.
				</div>

				<h3>email address</h3>
				<el-input size="medium" v-model="email" placeholder="please input email address or phonenumber"
					:disabled="isSend"></el-input>
				<el-input v-if="isSend" size="medium" v-model="code" placeholder="please input code"></el-input>
				<el-button v-if="!isSend" @click="sendCode" type="primary" style="margin-top: 10px;">Next</el-button>
				<el-button v-else @click="submit" type="danger" style="margin-top: 10px;">confirm delete</el-button>
			</div>
		</div>

	</body>

	<script>
		new Vue({
			el: '#app',
			data: function() {
				return {
					visible: false,
					email: "",
					code: "",
					isSend: false,
					uuid:""
				}
			},
			methods: {
				sendCode() {
					var that = this;
					that.isSend = true;
					var data = {
						username: that.email,
					}
					// this.axios.post("https://www.rocoplayer.com/prod-api/app/mail/captcha", {
					// 	data: data
					// }).then((res) => {
					// 	console.log(res);
					// })
					
					axios.post("https://www.rocoplayer.com/prod-api/mail/captcha", data).then((res) => {
						// console.log(res);
						if(res.status == 200){
							var resp = res.data;
							if(resp.code == 200){
								that.uuid = resp.data.uuid;
							} else {
								this.$message.error(resp.msg);
							}
						} else {
							console.log("network error");
						}
					})
				},

				submit() {
					var that = this;
					var data = {
						username: that.email,
						uuid : that.uuid,
						code: that.code
					}
					axios.post("https://www.rocoplayer.com/prod-api/account/delete", data).then((res) => {
						// console.log(res);
						if(res.status == 200){
							var resp = res.data;
							if(resp.code == 200){
								this.$message.success("delete account and data success");
							} else {
								this.$message.error(resp.msg);
							}
						} else {
							console.log("network error");
						}
					})
					
				}
			}
		})
	</script>
</html>